<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
    <form class="login_container" action="/resto/login" method="POST">
        <div class="login_frame">
            <div class="login_top">
                <span>Login to Page</span> <br />
                <div>
                    Back to
                    <a href="/resto" style="color: #6440fb">Home</a> Page
                </div>
                <p>
                    Not yet signed up?
                    <a href="/resto/sign-up" style="color: #6440fb">Sign up</a>
                </p>
            </div>

            <div class="login_input_frame">
                <div class="login_input_container">
                    <label>Username: </label>
                    <input
                        type="text"
                        name="mb_nick"
                        placeholder="Enter Username"
                        value=""
                        required
                    />
                </div>
                <div class="login_input_container">
                    <label>Password: </label>
                    <input
                        type="password"
                        name="mb_password"
                        placeholder="Enter Password"
                        value=""
                        required
                    />
                </div>
            </div>

            <button class="login_btn btn" name="login" type="submit">
                Login
            </button>
        </div>
    </form>
</body>

<%- include('includes/footer') %>
